# Common non project artifacts
*.zip
*.jar
.DS_Store

# Common IDEs files
# User-specific stuff:
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml
**/.idea/encodings.xml
**/.idea/compiler.xml
**/.idea/inspectionProfiles/

# Sensitive or high-churn files:
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/dataSources.local.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
**/.idea/gradle.xml
**/.idea/kotlinc.xml
**/.idea/jarRepositories.xml
**/.idea/libraries/

example_code/*/target/
